
<header class="header">
    <div class="header-left">
        <img src="assets/logo.png" alt="Logo" class="logo">
        <h1 class="app-title">My App</h1>
        <button class="menu-button">My Todo</button>
      <button class="menu-button">New Todo</button>
    </div>
    <div class="header-right">
      <button (click)="goToLogin()" class="auth-button">Login</button>
      <button class="auth-button" (click)="goToRegister()">Register</button>
      <button class="auth-button" (click)="goToLogout()">Logout</button>
    </div>
  </header>
  